{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">CS50 Final Projcet: CADAT</h1>
    <table>
        <col width="100%">
        <col width="300">
        <tr>
            <th><p>Text</p></th>
            <th><p>Actions</p></th>
        </tr>
        <tr>
            <td><p align=left style="font-size: 28px;">{{ pair.text  }}</p></td>
            <td>
                <button class="startRecording" onclick="startRecording()"><p>Start recording</p></button>
                <button class="stopRecording" onclick="stopRecording()"><p>Stop recording</p></button>
                <a href="{{ url_for('index') }}"><button><p>Record Next One</p></button></a>
            </td>
        </tr>
    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    navigator
        .mediaDevices
        .getUserMedia({audio: true})
        .then(stream => { handlerFunction(stream) });

    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                sendData(blob);
            }
        }
    }

    function startRecording(){
        $( ".startRecording" ).css('background', 'greenyellow');
        console.log('Recording are started..');
        audioChunks = [];
        rec.start();
    }

    function stopRecording(){
        $( ".stopRecording" ).css('background', 'greenyellow');
        console.log("Recording are stopped.");
        rec.stop();
    }
    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/save-record',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        });
    }
</script>
{% endblock %}

